<div>
  <h2 id="page-heading" data-cy="DmOResvHeading">
    <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.home.title"
      >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.home.title')</span
    >

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.home.refreshListLabel"
          >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.home.refreshListLabel')</span
        >
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-dm-o-resv"
        [routerLink]="['/dm-o-resv/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.home.createLabel"
          >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.home.createLabel')</span
        >
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="dmOResvs?.length === 0">
    <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.home.notFound"
      >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.home.notFound')</span
    >
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="dmOResvs && dmOResvs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">__jhiTransformTranslate__('global.field.id')</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="numLigne">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.numLigne"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.numLigne')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="resort">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.resort"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.resort')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="resvNameId">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.resvNameId"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.resvNameId')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="clientOId">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.clientOId"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.clientOId')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="typeChb">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.typeChb"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.typeChb')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="confirmationNo">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.confirmationNo"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.confirmationNo')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="clientMdmId">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.clientMdmId"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.clientMdmId')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nameId">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.nameId"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.nameId')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="parentResvNameId">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.parentResvNameId"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.parentResvNameId')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="contactId">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.contactId"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.contactId')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="agenceId">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.agenceId"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.agenceId')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="agenceNom">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.agenceNom"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.agenceNom')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="societeId">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.societeId"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.societeId')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="groupeId">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.groupeId"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.groupeId')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="numBloc">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.numBloc"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.numBloc')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="typeResv">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.typeResv"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.typeResv')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="statutResv">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.statutResv"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.statutResv')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateDebutResv">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.dateDebutResv"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.dateDebutResv')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateFinResv">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.dateFinResv"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.dateFinResv')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="truncDateDebutResv">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.truncDateDebutResv"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.truncDateDebutResv')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="truncDateFinResv">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.truncDateFinResv"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.truncDateFinResv')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateAnnResv">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.dateAnnResv"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.dateAnnResv')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="pseudoRoomYn">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.pseudoRoomYn"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.pseudoRoomYn')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createurResv">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.createurResv"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.createurResv')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nomCreateurResv">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.nomCreateurResv"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.nomCreateurResv')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="codeGarantie">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.codeGarantie"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.codeGarantie')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="flgDed">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.flgDed"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.flgDed')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="codePays">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.codePays"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.codePays')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="libPays">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.libPays"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.libPays')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="codeNationalite">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.codeNationalite"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.codeNationalite')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="libNationalite">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.libNationalite"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.libNationalite')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="codeSource">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.codeSource"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.codeSource')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="libSource">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.libSource"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.libSource')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="codeGrandSource">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.codeGrandSource"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.codeGrandSource')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="codeOrigine">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.codeOrigine"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.codeOrigine')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="libOrigine">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.libOrigine"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.libOrigine')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="codeMarche">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.codeMarche"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.codeMarche')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="libMarche">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.libMarche"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.libMarche')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="codeGrandMarche">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.codeGrandMarche"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.codeGrandMarche')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="libGrandMarche">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.libGrandMarche"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.libGrandMarche')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="codePrix">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.codePrix"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.codePrix')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="categPrix">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.categPrix"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.categPrix')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="libPrix">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.libPrix"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.libPrix')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="numChb">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.numChb"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.numChb')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="descriptionTypeChb">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.descriptionTypeChb"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.descriptionTypeChb')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="codeTypeChb">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.codeTypeChb"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.codeTypeChb')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="classChb">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.classChb"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.classChb')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="caractChb">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.caractChb"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.caractChb')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="typeChbDeReservation">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.typeChbDeReservation"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.typeChbDeReservation')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="descriptionTypeChbDeResv">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.descriptionTypeChbDeResv"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.descriptionTypeChbDeResv')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="codeTypeChbDeResv">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.codeTypeChbDeResv"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.codeTypeChbDeResv')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="statutDeReservation">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.statutDeReservation"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.statutDeReservation')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="circuitDistribution">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.circuitDistribution"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.circuitDistribution')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="circuitDistribUserRegroup">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.circuitDistribUserRegroup"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.circuitDistribUserRegroup')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="numCrs">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.numCrs"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.numCrs')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="typeRefCrs">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.typeRefCrs"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.typeRefCrs')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="crsInsertDate">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.crsInsertDate"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.crsInsertDate')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateCreaResv">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.dateCreaResv"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.dateCreaResv')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="datePremier">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.datePremier"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.datePremier')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="statutPremier">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.statutPremier"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.statutPremier')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateDernier">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.dateDernier"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.dateDernier')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="statutDernier">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.statutDernier"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.statutDernier')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateDernierPseudo">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.dateDernierPseudo"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.dateDernierPseudo')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="statutDernierPseudo">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.statutDernierPseudo"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.statutDernierPseudo')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="diffDtCreaAnn">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.diffDtCreaAnn"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.diffDtCreaAnn')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="diffDtArrAnn">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.diffDtArrAnn"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.diffDtArrAnn')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="leadtime">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.leadtime"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.leadtime')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="los">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.los"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.los')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="occupantsGroupe">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.occupantsGroupe"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.occupantsGroupe')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nbNuitee">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.nbNuitee"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.nbNuitee')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nbNuiteeNnDed">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.nbNuiteeNnDed"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.nbNuiteeNnDed')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nbResvAnn">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.nbResvAnn"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.nbResvAnn')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nbAdu">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.nbAdu"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.nbAdu')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nbEnf">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.nbEnf"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.nbEnf')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nbPersDayU">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.nbPersDayU"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.nbPersDayU')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nbPersArr">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.nbPersArr"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.nbPersArr')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nbPersDep">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.nbPersDep"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.nbPersDep')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nbPersAnn">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.nbPersAnn"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.nbPersAnn')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nbPersNoshow">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.nbPersNoshow"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.nbPersNoshow')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nbChbDayU">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.nbChbDayU"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.nbChbDayU')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nbChbArr">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.nbChbArr"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.nbChbArr')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nbChbDep">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.nbChbDep"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.nbChbDep')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nbChbAnn">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.nbChbAnn"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.nbChbAnn')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nbChbNoshow">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.nbChbNoshow"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.nbChbNoshow')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="revenuNetChambre">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.revenuNetChambre"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.revenuNetChambre')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="revenuTaxeChambre">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.revenuTaxeChambre"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.revenuTaxeChambre')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="revenuNetChambreGlobal">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.revenuNetChambreGlobal"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.revenuNetChambreGlobal')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="revenuTaxeChambreGlobal">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.revenuTaxeChambreGlobal"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.revenuTaxeChambreGlobal')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="revenuNetBq">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.revenuNetBq"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.revenuNetBq')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="revenuTaxeBq">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.revenuTaxeBq"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.revenuTaxeBq')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="revenuNetBqGlobal">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.revenuNetBqGlobal"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.revenuNetBqGlobal')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="revenuTaxeBqGlobal">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.revenuTaxeBqGlobal"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.revenuTaxeBqGlobal')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="revenuNetExtra">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.revenuNetExtra"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.revenuNetExtra')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="revenuTaxeExtra">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.revenuTaxeExtra"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.revenuTaxeExtra')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="revenuNetExtraGlobal">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.revenuNetExtraGlobal"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.revenuNetExtraGlobal')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="revenuTaxeExtraGlobal">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.revenuTaxeExtraGlobal"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.revenuTaxeExtraGlobal')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="revenuNetTotal">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.revenuNetTotal"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.revenuNetTotal')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="revenuTaxeTotal">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.revenuTaxeTotal"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.revenuTaxeTotal')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="revenuNetTotalGlobal">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.revenuNetTotalGlobal"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.revenuNetTotalGlobal')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="revenuTaxeTotalGlobal">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.revenuTaxeTotalGlobal"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.revenuTaxeTotalGlobal')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="prodRevenuChambre">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.prodRevenuChambre"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.prodRevenuChambre')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="prodRevenuBq">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.prodRevenuBq"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.prodRevenuBq')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="prodRevenuExtra">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.prodRevenuExtra"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.prodRevenuExtra')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="prodRevenuTotal">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.prodRevenuTotal"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.prodRevenuTotal')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="prodChambreNbNuitees">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.prodChambreNbNuitees"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.prodChambreNbNuitees')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="techCreateDate">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.techCreateDate"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.techCreateDate')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="techUpdateDate">
            <div class="d-flex">
              <span jhiTranslate="tableauRealTimeApplicationApp.dmOResv.techUpdateDate"
                >__jhiTransformTranslate__('tableauRealTimeApplicationApp.dmOResv.techUpdateDate')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dmOResv of dmOResvs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/dm-o-resv', dmOResv.id, 'view']">{{ dmOResv.id }}</a>
          </td>
          <td>{{ dmOResv.numLigne }}</td>
          <td>{{ dmOResv.resort }}</td>
          <td>{{ dmOResv.resvNameId }}</td>
          <td>{{ dmOResv.clientOId }}</td>
          <td>{{ dmOResv.typeChb }}</td>
          <td>{{ dmOResv.confirmationNo }}</td>
          <td>{{ dmOResv.clientMdmId }}</td>
          <td>{{ dmOResv.nameId }}</td>
          <td>{{ dmOResv.parentResvNameId }}</td>
          <td>{{ dmOResv.contactId }}</td>
          <td>{{ dmOResv.agenceId }}</td>
          <td>{{ dmOResv.agenceNom }}</td>
          <td>{{ dmOResv.societeId }}</td>
          <td>{{ dmOResv.groupeId }}</td>
          <td>{{ dmOResv.numBloc }}</td>
          <td>{{ dmOResv.typeResv }}</td>
          <td>{{ dmOResv.statutResv }}</td>
          <td>{{ dmOResv.dateDebutResv | formatMediumDate }}</td>
          <td>{{ dmOResv.dateFinResv | formatMediumDate }}</td>
          <td>{{ dmOResv.truncDateDebutResv | formatMediumDate }}</td>
          <td>{{ dmOResv.truncDateFinResv | formatMediumDate }}</td>
          <td>{{ dmOResv.dateAnnResv | formatMediumDate }}</td>
          <td>{{ dmOResv.pseudoRoomYn }}</td>
          <td>{{ dmOResv.createurResv }}</td>
          <td>{{ dmOResv.nomCreateurResv }}</td>
          <td>{{ dmOResv.codeGarantie }}</td>
          <td>{{ dmOResv.flgDed }}</td>
          <td>{{ dmOResv.codePays }}</td>
          <td>{{ dmOResv.libPays }}</td>
          <td>{{ dmOResv.codeNationalite }}</td>
          <td>{{ dmOResv.libNationalite }}</td>
          <td>{{ dmOResv.codeSource }}</td>
          <td>{{ dmOResv.libSource }}</td>
          <td>{{ dmOResv.codeGrandSource }}</td>
          <td>{{ dmOResv.codeOrigine }}</td>
          <td>{{ dmOResv.libOrigine }}</td>
          <td>{{ dmOResv.codeMarche }}</td>
          <td>{{ dmOResv.libMarche }}</td>
          <td>{{ dmOResv.codeGrandMarche }}</td>
          <td>{{ dmOResv.libGrandMarche }}</td>
          <td>{{ dmOResv.codePrix }}</td>
          <td>{{ dmOResv.categPrix }}</td>
          <td>{{ dmOResv.libPrix }}</td>
          <td>{{ dmOResv.numChb }}</td>
          <td>{{ dmOResv.descriptionTypeChb }}</td>
          <td>{{ dmOResv.codeTypeChb }}</td>
          <td>{{ dmOResv.classChb }}</td>
          <td>{{ dmOResv.caractChb }}</td>
          <td>{{ dmOResv.typeChbDeReservation }}</td>
          <td>{{ dmOResv.descriptionTypeChbDeResv }}</td>
          <td>{{ dmOResv.codeTypeChbDeResv }}</td>
          <td>{{ dmOResv.statutDeReservation }}</td>
          <td>{{ dmOResv.circuitDistribution }}</td>
          <td>{{ dmOResv.circuitDistribUserRegroup }}</td>
          <td>{{ dmOResv.numCrs }}</td>
          <td>{{ dmOResv.typeRefCrs }}</td>
          <td>{{ dmOResv.crsInsertDate | formatMediumDate }}</td>
          <td>{{ dmOResv.dateCreaResv | formatMediumDate }}</td>
          <td>{{ dmOResv.datePremier | formatMediumDate }}</td>
          <td>{{ dmOResv.statutPremier }}</td>
          <td>{{ dmOResv.dateDernier | formatMediumDate }}</td>
          <td>{{ dmOResv.statutDernier }}</td>
          <td>{{ dmOResv.dateDernierPseudo | formatMediumDate }}</td>
          <td>{{ dmOResv.statutDernierPseudo }}</td>
          <td>{{ dmOResv.diffDtCreaAnn }}</td>
          <td>{{ dmOResv.diffDtArrAnn }}</td>
          <td>{{ dmOResv.leadtime }}</td>
          <td>{{ dmOResv.los }}</td>
          <td>{{ dmOResv.occupantsGroupe }}</td>
          <td>{{ dmOResv.nbNuitee }}</td>
          <td>{{ dmOResv.nbNuiteeNnDed }}</td>
          <td>{{ dmOResv.nbResvAnn }}</td>
          <td>{{ dmOResv.nbAdu }}</td>
          <td>{{ dmOResv.nbEnf }}</td>
          <td>{{ dmOResv.nbPersDayU }}</td>
          <td>{{ dmOResv.nbPersArr }}</td>
          <td>{{ dmOResv.nbPersDep }}</td>
          <td>{{ dmOResv.nbPersAnn }}</td>
          <td>{{ dmOResv.nbPersNoshow }}</td>
          <td>{{ dmOResv.nbChbDayU }}</td>
          <td>{{ dmOResv.nbChbArr }}</td>
          <td>{{ dmOResv.nbChbDep }}</td>
          <td>{{ dmOResv.nbChbAnn }}</td>
          <td>{{ dmOResv.nbChbNoshow }}</td>
          <td>{{ dmOResv.revenuNetChambre }}</td>
          <td>{{ dmOResv.revenuTaxeChambre }}</td>
          <td>{{ dmOResv.revenuNetChambreGlobal }}</td>
          <td>{{ dmOResv.revenuTaxeChambreGlobal }}</td>
          <td>{{ dmOResv.revenuNetBq }}</td>
          <td>{{ dmOResv.revenuTaxeBq }}</td>
          <td>{{ dmOResv.revenuNetBqGlobal }}</td>
          <td>{{ dmOResv.revenuTaxeBqGlobal }}</td>
          <td>{{ dmOResv.revenuNetExtra }}</td>
          <td>{{ dmOResv.revenuTaxeExtra }}</td>
          <td>{{ dmOResv.revenuNetExtraGlobal }}</td>
          <td>{{ dmOResv.revenuTaxeExtraGlobal }}</td>
          <td>{{ dmOResv.revenuNetTotal }}</td>
          <td>{{ dmOResv.revenuTaxeTotal }}</td>
          <td>{{ dmOResv.revenuNetTotalGlobal }}</td>
          <td>{{ dmOResv.revenuTaxeTotalGlobal }}</td>
          <td>{{ dmOResv.prodRevenuChambre }}</td>
          <td>{{ dmOResv.prodRevenuBq }}</td>
          <td>{{ dmOResv.prodRevenuExtra }}</td>
          <td>{{ dmOResv.prodRevenuTotal }}</td>
          <td>{{ dmOResv.prodChambreNbNuitees }}</td>
          <td>{{ dmOResv.techCreateDate | formatMediumDate }}</td>
          <td>{{ dmOResv.techUpdateDate | formatMediumDate }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/dm-o-resv', dmOResv.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">__jhiTransformTranslate__('entity.action.view')</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/dm-o-resv', dmOResv.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">__jhiTransformTranslate__('entity.action.edit')</span>
              </button>

              <button type="submit" (click)="delete(dmOResv)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete"
                  >__jhiTransformTranslate__('entity.action.delete')</span
                >
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="dmOResvs && dmOResvs.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
